DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_DTAQ_EMAIL=
DEFAULT_DTAQ_USERNAME=
DEFAULT_DTAQ_NAME=
DEFAULT_DTAQ_PASSWORD=
SEED_USER_EMAIL=
SEED_USER_USERNAME=
SEED_USER_NAME=
SEED_USER_PASSWORD=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PASSWORD=
SEED_AREAS_JSON_FILE=seed-territories.local.json
PASSWORD_HASH_ENCRYPTION_KEY=
